* {
    margin: 0;
    padding: 0;

    font-family: var(--default-font);
    --default-text-color: white;
    --default-border-radius: 1rem;
    --header-color:linear-gradient(180deg,rgba(5, 177, 245, 1) 0%, rgba(0, 78, 145, 1) 100%);
    --default-font: 'system-ui', 'sans-serif';
    --logo-color: black;
}

body {
    display: block;
}
@media  screen and (max-width:599px) {
    header {
        height: 10vh;
        nav {
            display: none;
        }
        #logo {
            font-size: 5rem;
        }
    }
}
header {
    background: var(--header-color, blue);
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: fit-content;
    #logo {
        font-weight: bold;
        color: var(--logo-color,black);
    }
    @media screen and (max-width:599px) {
        #logo {
            font-size: 1.5rem;
        }
    }
    @media screen and (min-width:600px) {
        #logo {
            font-size: 1.5rem;
        }
    }
    a{
        color: var(--default-text-color, black);
        margin: auto;
        text-decoration: none;
        padding: 1rem
    }
    a:visited {
    }
    nav > * {
        margin: calc(5px);
        font-size: 2vw;
        white-space: nowrap;
        
    }
    * {
        display: inline;
        margin: auto;
    }
}

footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    margin: auto;
    p {
        text-align: center;
        justify-self: center;
        margin: auto;
    }
}
