* {
    margin: 0;
    padding: 0;
    --default-text-color: black;
    --default-border-radius: 1rem
}

header {
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    #logo {
        font-weight: bold;
        font-size: 1.5rem;
    }
    a{
        color: var(--default-text-color);
        margin: auto;
        text-decoration: none;
        padding: 1rem
    }
    a:visited {
    }
    nav > * {
        margin: 1rem;
        font-size:1.2rem;
        
    }
    * {
        display: inline;
        margin: auto;
    }
}

